.content{
    margin: auto;
    text-align: center;
    top: 10%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 8%;
}
.libros{
    background: #007bff;
    color: white !important;
    padding: 2%;
    border-radius: 5px;
    margin: auto;
    margin-right: 3%;
}

.contente-libros{
    margin-top: 4%;
}
.form-group label{
    display: flex !important;
}